.div-register {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2b2e38;
    color: white;
    min-height: 100vh;
}

.title-register {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.label-register {
    width: 33.33%;
    text-align: left;
}

.input-register {
    background-color: white;
    border-radius: 10px;
    padding: 14px 20px;
    width: 100%;
    color: black;
}

.error-register {
    color: #f87171;
    margin-top: 4px;
    text-align: left;
}

.btn-register {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 3rem;
        border-radius: 9999px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s;
        cursor: pointer;
        background-color: #4338ca;
        color: white;
        border: none;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    }

.btn-register:hover {
        transform: scale(1.05);
        background-color: #4338ca;
        color: white;
    }

.href-register {
    color: #818cf8;
    font-weight: 600;
    text-decoration: none;
}

.href-register:hover {
    text-decoration: underline;
}