@tailwind base;
@tailwind components;
@tailwind utilities;

/*Style du header*/

.logo-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

/*Styles de la page de login et connexion*/





/*Styles page d'acceuil*/





/*Styles de page de création */
.drop-zone {
    background-color: white;
    border-radius: 25px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.8rem;
    margin-bottom: 50px;
    cursor: pointer;
}

.progress-container {
    width: 100%;
    background-color: white;
    border-radius: 999px;
    height: 35px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    width: 85%;
    height: 100%;
    background-color: #1ed714;
    border-radius: 999px;
}

.select-custom {
    background-color: white;
    color: black;
    border-radius: 999px;
    padding: 10px 40px 10px 20px;
    border: none;
    font-size: 1.2rem;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='black'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px;
    width: 200px;
}