@tailwind base;
@tailwind components;
@tailwind utilities;

.div-login {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2b2e38;
    color: white;
    min-height: 100vh;
}

.div-center {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.drop-zone {
    background-color: white;
    border-radius: 25px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.8rem;
    margin-bottom: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    min-height: 300px;
    border-width: 2px;
    border-style: dashed;
    border-color: black;
    cursor: pointer;
}

.progress-container {
    width: 100%;
    background-color: white;
    border-radius: 999px;
    height: 35px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    width: 85%;
    height: 100%;
    background-color: #1ed714;
    border-radius: 999px;
}

.select-custom {
    background-color: white;
    color: black;
    border-radius: 999px;
    padding: 10px 40px 10px 20px;
    border: none;
    font-size: 1.2rem;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='black'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px;
    width: 200px;
}

.name-project {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.input-style {
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    max-width: 448px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 2px solid gray;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    color: black;
}

.input-style:focus {
    border-color: #4338ca;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    border-radius: 9999px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
    background-color: #4338ca;
    color: white;
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    transform: scale(1.05);
    background-color: #4338ca;
    color: white;
}